{% extends 'myreads/base.html' %}

{% block content %}
    <div>
        {% if gist.published_date %}
            <div>
                {{ gist.published_date }}
            </div>
        {% else %}
        <a class="btn btn-default" href="{% url 'gist_publish' pk=gist.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'gist_edit' pk=gist.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'gist_delete' pk=gist.pk %}"><span class="glyphicon glyphicon-remove"></span> </a>
        {% endif %}
        <h1>{{ gist.title }}</h1>
        <p>{{ gist.text|linebreaksbr }}</p>
    </div>
{% endblock %}